button {
    font-size: 20px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.CounterButton {
    background-color: #00a5ab;
}

.Count {
    font-size: 50px;
    padding: 20px
}

.totalCount {
    color: black;
    font-size: 150px;
}

.resetButton {
    background-color: red;
}